$primary-color: #0075f3;
$primary-darker-color: darken(#0075f3, 10%);
$orange-color: #ffa811;
$orange-darker-color: darken(#ffae22, 10%);
$red-color: #dc3545;
$red-darker-color: darken(#dc3545, 10%);
$success-color: #388e3c;
$success-background-color: #e8f5e9;
$success-border-color: #b4d8b5;
$border-radius: 5px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
