@import './config.scss';

* {
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  user-select: none;
}

body {
  margin: 0;
}

.btn-borrow, .btn-books, .btn-info, .btn-close, .btn-info {
  color: white;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: $primary-color;

  &:hover {
    background-color: $primary-darker-color;
    transform: translateY(-2px);
  }

  &.return {
    background-color: $orange-color;

    &:hover {
      background-color: $orange-darker-color;
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}

.btn-info {
  background-color: $grey-color;

  &:hover {
    background-color: $grey-darker-color;
  }
}

.btn-close {
  background-color: darken($red-darker-color, 10%);

  &:hover {
    background-color: darken($red-darker-color, 20%);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th, td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    font-size: 1.2rem;
  }

  td {
    font-size: 1rem;
    color: #555;
  }

  tr:last-child td {
    border-bottom: none;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
}
