<div *ngIf="borrowings.length  > 0; else noBorrowings" class="borrowing-list">
  <h2>Historia wypożyczeń</h2>
  <table>
    <thead>
      <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Data wypożyczenia</th>
        <th>Data zwrotu</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let borrowing of borrowings">
        <td>{{ borrowing.book.title }}</td>
        <td>{{ getAuthors(borrowing.book.authors) }}</td>
        <td>{{ borrowing.borrowingDate | date: 'dd-MM-yyyy HH:mm' }}</td>
        <td>{{ borrowing.returnDate | date: 'dd-MM-yyyy HH:mm' }}</td>
        <td><button class="btn-info" (click)="openDialog(borrowing)">Szczegóły</button></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noBorrowings>
  <div class="empty-list">
    <h2>Lista wypożyczeń jest pusta</h2>
    <button class="btn-books" routerLink="/books">Zobacz dostępne książki</button>
  </div>
</ng-template>
