<div *ngIf="books.length > 0" class="book-list">
  <h2>Lista książek</h2>
  <div class="filter">
    <div>
      <input type="text" placeholder="Search" [(ngModel)]="filter" (input)="applyFilter()"/>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Seria</th>
        <th>Kategoria</th>
        <th>Data wydania</th>
        <th>Wydawnictwo</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of filteredBooks">
        <td>{{ book.title }}</td>
        <td>{{ getAuthors(book.authors) }}</td>
        <td>{{ book.series?.name ?? '' }}</td>
        <td>{{ getCategories(book.categories) }}</td>
        <td>{{ book.publicationYear | date: 'dd-MM-yyyy' }}</td>
        <td>{{ book.publishingHouse.name }} ({{ book.publishingHouse.country }})</td>
        <td><p [class.premium]="book.isPremium">{{ book.isPremium ? 'Premium' : '' }}</p></td>
        <td><button class="btn-borrow" [class.return]="book.borrowed" [disabled]="book.notAllowed || (book.isPremium && !userIsPremium)" (click)="toggleBorrow(book)">{{ book.borrowed ? 'Zwróć' : 'Wypożycz' }}</button></td>
        <td><button class="btn-info" (click)="openDialog(book)" [disabled]="(book.bookBorrowings?.length ?? 0) <= 0">Wypożyczenia</button></td>
      </tr>
    </tbody>
  </table>
</div>
